<ion-content fullscreen class="ion-padding" scroll-y="false">
  <p>Open Dev Tools before attempting to reproduce bug otherwise your browser will crash</p>
  
  <ion-slides (ionSlideReachStart)="reachStart()" (ionSlideReactEnd)="reachEnd()" #slides>
    <ion-slide *ngFor="let slide of slidesArray; let i = index">
      <div class="slide">
        <img src="/assets/slide-1.png" />
        <h2>Welcome To Slide {{ i }}</h2>
        <p>
          The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a demonstration
          of proper code use.
        </p>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
